.app__specialmenu {
    background-color: black;
}

.app__specialmenu-head {
    font-family: var( --font-base);
    font-style: normal;
    text-align: center;

    color: #fff;
}

.app__specialmenu-head h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;

    color: var(--color-golden);
}


.app__specialmenu-drink h2 ,
.app__specialmenu-cocktails h2 {
    font-family: var( --font-base);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    
    color: #fff;
}

.app__specialmenu-image img {
    width: 100%;
    height: auto;;
}