.app__header{
    background-color: var(--color-black);
}

.app__header-info{
    font-family: var(--font-base);
    color: #fff;
}

.app__header-info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;

    color: var(--color-golden) ;
}

.app__header-info p {
    font-family: var(--font-alt);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;

    color: var(--color-grey);
}

.app__header-info button { 
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    border-radius: 0 !important;

    background-color: var(--color-golden) ;
    color: var(--color-black);
}

.app__header-image img  {
    width: 100%;
  
}